<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados de Rastreamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @font-face {
            font-family: 'Roboto';
            src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }


        .dados {
            margin-top: 20px;
        }

        .dados div {
            margin: 5px 0;
        }

        .comumLabel {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 37px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        .labelVelocidade {
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 37px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    </style>
</head>

<body>

    <div id="dados-rastreamento" class="dados">
        <p>Aguardando dados...</p>
    </div>



    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img src="../static/assets/images/Logo.png" alt="SGTRACK" style="width: 40vw; max-width: 180px; height: 65px;">

        <h4 style="display: flex; justify-content: center; flex-direction: column; width: 100%; align-items: center;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
            <span> Olá, seja bem vindo! </span>
            <span>
                Aproxime o cartão e se identifique
            </span>
        </h4>
        <img src="../static/assets/images/CardImg.png" alt="imagem de cartão"
            style="width: 40vw; max-width: 100px; height: 50px;">
    </div>
    <script>
        var IdCard = "";

        async function atualizarDados() {
            fetch('/dados_rastreamento')
                .then(response => response.json())
                .then(async data => {
                    if (parseInt(data.NumeroIButton) == 0) {
                        const dadosContainer = document.getElementById('dados-rastreamento');
                        dadosContainer.innerHTML = `
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <img src="{{ url_for('static', filename='assets/images/Logo.png') }}" alt="SGTRACK"
                                    style="width: 40vw; max-width: 100px; height: 50px;">

                                <h4 style="display: flex; justify-content: center; flex-direction: column; width: 100%; padding: 2rem;">
                                    <span> Olá, seja bem vindo! </span>
                                    <span>
                                        Aproxime o cartão e se identifique
                                    </span>
                                </h4>
                                <img src="{{ url_for('static', filename='assets/images/CardImg.png') }}" alt="imagem de cartão"
                                    style="width: 40vw; max-width: 100px; height: 50px;">
                            </div>                         
                    `;
                    } else {
                        if (IdCard == "") {
                            await Swal.fire({
                                title: 'Seja bem-vindo!',
                                text: 'Dirija com cuidado',
                                icon: 'success',
                                showConfirmButton: false,  // Remove o botão de confirmação
                                timer: 1500,  // Define o tempo para o alerta desaparecer (1.5 segundos)
                                timerProgressBar: true,  // Mostra a barra de progresso
                            });

                            IdCard = data.BloqueioAtivo;
                        }

                        const dadosContainer = document.getElementById('dados-rastreamento');
                        dadosContainer.innerHTML = `
                        <div style="display: flex; flex-direction: column; width: 100%; max-width: 480px;">
                            <div style="display: flex; justify-content: space-around; align-items: center;">
                                <img src="{{ url_for('static', filename='assets/images/LogoMin.png') }}" alt="logo" style="width: 25vw; max-width: 100px; height: 50px;">
                                <div style="display: flex; justify-content: space-around; align-items: center;">
                                    <img src="{{ url_for('static', filename='assets/images/CardImg.png') }}" alt="imgCard" style="width: 39px; height: 33px;">
                                    ${data.NumeroIButton}
                                </div>
                            </div>

                            <div style="display: flex;  width: 100%; max-width: 480px;">
                                <div style="width: 50%; display: flex; flex-direction: column;  justify-content: center; align-items: center;">
                                    <label class="comumLabel">
                                        Velocidade do veículo
                                    </label>
                                    <label class="labelVelocidade">
                                        ${data.Velocidade}
                                    </label>
                                </div>

                                <div style="width: 50%; display: flex; flex-direction: column;  justify-content: center; align-items: center;">
                                    <label class="comumLabel">
                                        Velocidade Permitida na Cerca
                                    </label>
                                    <label class="labelVelocidade">
                                        ${data.VelocidadeMaximaDentroCerca}
                                    </label>
                                </div>
                            </div>
                        </div>
                    `;
                    }
                })
                .catch(error => console.error('Erro ao obter dados:', error));
        }

        // Atualizar os dados a cada 0,7 segundos
        setInterval(atualizarDados, 700);
    </script>

    <script src="{{ url_for('static', filename='assets/js/Swal2teste.js') }}"></script>

</body>

</html>